@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.banner {
	width: 1240px;
	height: 223px;
	position: absolute;
	left: 100px;
	top: 171px;
}

.bannerimg {
  height: 223px;
  width: 1240px;
  border-radius: 25px;
	/*left: 100px;
  top: 171px;*/
}

.bannertxt {
  font-family: Montserrat;
	font-size: 48px;
	font-weight: 500;
	line-height: 68px;
	display: flex;
	align-items: flex-end;
	color: #FFFFFF;
	position: absolute;
	top: 249px;
  height: 68px;
  width: 705px;
  left: 18%;
	top: 15%;
	/*left: 25.9%;*/
}