@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.banner {
	height: 223px;
	width: 100%;
	margin: 0 3%;
	position: relative;
}

.bannerimg {
  height: 223px;
  width: 94%;
  border-radius: 25px;
  object-fit: cover;
}

.bannertxt {
	text-align: center;
  	font-family: Montserrat;
	font-size: 48px;
	color: #FFFFFF;
	position: absolute;
	top: 37%;
}

@media screen and (min-width:2090px) {
.bannertxt {
	left: 34%;
}
}

@media screen and (min-width:1720px) and (max-width: 2089px) {
.bannertxt {
	left: 30%;
	}
}

@media screen and (min-width:1360px) and (max-width: 1719px) {
	.bannertxt {
		left: 26%;
	}
}

@media screen and (min-width:1080px) and (max-width: 1359px) {
	.bannertxt {
		left: 22%;
		font-size: 44px;
	}
}

@media screen and (min-width: 915px) and (max-width: 1079px) {
	.bannertxt {
		left: 17%;
		font-size: 41px;
	}
}

@media screen and (min-width: 768px) and (max-width: 914px) {
	.bannertxt {
		left: 24%;
		top: 30%;
		font-size: 39px;
		max-width: 420px;
	}
}

@media screen and (min-width: 590px) and (max-width: 767px) {
	.bannertxt {
		left: 20%;
		font-size: 35px;
		max-width: 376px;
	}
}

@media screen and (min-width: 450px) and (max-width: 589px) {
	.bannertxt {
		left: 18%;
		font-size: 32px;
		max-width: 304px;
	}
}

@media screen and (min-width: 340px) and (max-width: 449px) {
	.bannertxt {
		left: 16%;
		top: 25%;
		font-size: 30px;
		max-width: 250px;
	}
}
 
@media screen and (max-width: 339px) {
	.bannertxt {
		left: 15%;
		top: 29%;
		font-size: 26px;
		max-width: 185px;
	}
}