.carrousel {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    margin: 0 3%;
}

.carrouselimg {
    border-radius: 25px;
    height: 415px;
    width: 95%;
    object-fit: cover;
}

.carrouselvector1 {
    position: absolute;
    right : 6%;
    top: 40%;
}

.carrouselvector2 {
  position: absolute;
	left: 1%;
	top: 40%;
}

.carrouselpage {
	font-family: 'Montserrat';
	font-size: 18px;
	color: #FFFF;
    position: absolute;
    left: 47%;
    top: 86%;
}

@media screen and (min-width: 521px) and (max-width: 630px) {
    .carrousel {
        height: 325px;
    }

    .carrouselimg{
        height: 325px;
    }
}


@media screen and (min-width: 320px) and (max-width: 520px) {
    .carrousel {
        height: 250px;
    }

    .carrouselimg{
        height: 250px;
    }

    .carrouselvector1 {
    height: 55px;
    top: 43%;
    right: 9%;
    }

    .carrouselvector2 {
        height: 55px;
        top: 43%;
        left: 4%;
        }

    .carrouselpage {
        left: 45%;
        top: 82%;
    }
}

@media screen and (max-width: 319px) {
    .titleh1 {
     font-size: 29px;
}

.carrousel {
    height: 175px;
}

.carrouselimg{
    height: 175px;
}

    .carrouselvector1 {
    height: 35px;
    top: 43%;
    right: 8%;
    }

    .carrouselvector2 {
        height: 35px;
        top: 43%;
        left: 3%;
        }

    .carrouselpage {
        left: 42%;
        top:76%;
        font-size: 15px;
       
    }
}