@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.dropdown {
	width: 83%;
	height: auto;
}

.dropdownfirst {
	background: #FF6060;
	border-radius: 5px;
	height: 47px;
	width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.dropdowntitle {
	font-family: 'Montserrat';
	font-size: 24px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	padding: 0 20px;
}

.dropdown-img-false {
	transform: rotate(90deg);
	height: 24px;
	width: 14px;
	margin-right: 25px;
}

.dropdown-img-true {
	transform: rotate(-90deg);
	height: 24px;
	width: 14px;
	margin-right: 25px;
}

.dropdowntxt {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 20px;
	line-height: 142.6%;
	color: #FF6060;
	margin-top: 0;
	padding: 20px 20px 15px 20px;
}

.dropdownsecond {
	background: #F7F7F7;
	border-radius: 5px;
	width: 93%;
}

@media screen and (min-width: 690px) and (max-width: 990px) {
	.dropdowntxt {
		font-size: 18px;
		padding: 12px 10px;
	}
}

@media screen and (min-width: 521px) and (max-width: 689px) {
	.dropdowntxt {
		font-size: 15.5px;
		padding: 11px 9px;
		margin-bottom: -10px;
	}
}

@media screen and (max-width: 520px) {
    .dropdown {
        width: 90%;
    }

	.dropdowntitle {
		font-size: 20px;
	}

	.dropdowntxt {
		font-size: 13px;
		padding: 10px 8px;
		margin-bottom: -10px;
	}
}