@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.error {
position: relative;
width: 1440px;
height: 1024px;
background: #FFFFFF;
}

.error404 {
position: relative;
height: 263px;
width: 597px;
left: 20%;
bottom: -16%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 288px;
line-height: 142.6%;
/* or 411px */
display: flex;
align-items: center;
text-align: center;
color: #FF6060;
}

.error404_oups {
height: 51px;
width: 872px;
position: absolute;
left: 13%;
right: 18.96%;
top: 46%;
bottom: 35.84%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
/* or 51px */
display: flex;
align-items: flex-end;
color: #FF6060;
}

.error404_retour {
height: 26px;
width: 100%;
position: absolute;
left: 32%;
right: 40.14%;
top: 81.93%;
bottom: 15.53%;
display: flex;
align-items: flex-end;
text-decoration-line: underline;
color: #FF6060;
font-size: 18px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
}