@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.error {
font-family: 'Montserrat';
text-align: center;
height: auto;
background: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
color: #FF6060;
}

.error404 {
display: flex;
justify-content: center;
font-size: 235px;
margin: 0 auto;
}

.error404_oups {
display: flex;
justify-content: center;
font-size: 30px;
margin: auto 20px;
}

.error404_retour {
display: flex;
justify-content: center;
text-decoration-line: underline;
font-size: 18px;
color: #FF6060;

margin: 77px 20px auto 20px;
}

@media screen and (min-width: 690px) and (max-width: 970px) {
    .error404 {
        font-size: 234px;
    }

    .error404_oups {
    font-size: 32px;
    }
}

@media screen and (min-width: 500px) and (max-width: 689px) {
    .error404 {
        font-size: 180px;
    }

    .error404_oups {
    font-size: 26px;
    }
}

@media screen and (max-width: 499px) {
    .error404 {
        font-size: 110px;
    }

    .error404_oups {
    font-size: 20px;
    }
}
