@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.header {
width: 94%;
height: 178px;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 3%;
}

.nav {
    height: 34px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.homeabout {
    font-family: 'Montserrat';
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

@media screen and (max-width:768px) {
.nav {
    width: 230px;
    }
}


@media screen and (max-width:549px) {
    .header {
        flex-direction: column;
        height: 135px;
        margin: 5% 3% 50px 3%;
        }
    }