.tag {
	position: absolute;
	left: 100px;
	top: 704px;
	width: 115px;
	height: 25px;
	background: #FF6060;
	border-radius: 10px;

}

.tagh2 {
	/*position: absolute;
	left: 26.09%;
	right: 26.96%;
	top: 12%;
	bottom: 8%;*/
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;

	display: flex;
	justify-content: center;
	margin: 0;
	padding-top: 4px;
	/* identical to box height, or 20px */
}