.title {
  	height: auto;
  	margin-bottom: 40px;

}

.titleh1 {
	font-family: 'Montserrat';
	font-size: 36px;
	display: flex;
	align-items: flex-end;
	color: #FF6060;
	margin-bottom: 10px;
}

.titletxt {
	font-family: 'Montserrat';
	font-size: 18px;
	display: flex;
	align-items: flex-end;
	color: #FF6060;
	margin-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
.titleh1 {
	font-size: 29px;
   }
}

@media screen and (max-width: 319px) {
.titleh1 {
	font-size: 22px;
	}
}